*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    height: 80px;
    background-color: orange;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    padding-left: 15%;
    padding-right: 15%;
}

    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .white{
            color: white;
        }

        .logo{
            height: 40px;
        }



/* main content setup */

main{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%; 
    padding-top: 10%;
    padding-bottom: 5%;
    /* max-width: 100%; */
}

.product{
   width: 30%;
   /* debug */
   /* background-color: gray;
   height: 150px;
   border: 2px solid black; */
   margin-bottom: 10px;
   position: relative;
}

.productlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dimeimg{
    max-width: 100%;
}

.price{
    display: block;
}

.redcol{
    color: red;
}

.blackcol{
    color: gray;
    text-decoration: line-through;
}

.discount-label{
    padding: 5px;
    background-color: red;
    font-size: 15px;
    width: max-content;
    position: absolute;
    bottom: 100px;
}

.sosten {
    padding: 5px;
    background-color: green;
    font-size: 15px;
    width: max-content;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

#left0 {
    left: 0;
}

.heart2{  
    padding: 5px;
    background-color: white;
    font-size: 15px;
    width: max-content;
    position: absolute;
    right: 0;
    top: 5px;

}

.img2{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.product:hover .img2{
    display: block;
}
.heart2:hover .redcolor{
    color: red;
}

ul li{
    text-decoration: none;
    display: inline-block;
    color: white;
}
a{
    text-decoration: none;
}

/* footer */

footer{
    height: 100px;
    background-color: black;
    padding-left: 15%;
    padding-right: 15%; 
    width: 100%;
}
.white2{
    color: white;
}

