*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    height: 80px;
    background-color: orange;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

/* footer */

footer{
    height: 100px;
    background-color: black;
}

/* main content setup */

main{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
    margin-bottom: 2%;
    /* max-width: 100%; */
}

.product{
   width: 30%;
   /* debug */
   /* background-color: gray;
   height: 150px;
   border: 2px solid black; */
   margin-bottom: 10px;
   position: relative;
}

.productlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dimeimg{
    max-width: 100%;
}

.price{
    display: block;
}

.redcol{
    color: red;
}

.blackcol{
    color: gray;
    text-decoration: line-through;
}

.discount-label{
    padding: 5px;
    background-color: red;
    font-size: 15px;
    width: max-content;
    position: absolute;
    bottom: 100px;
}

.discount-label3{  
    padding: 5px;
    background-color: white;
    font-size: 15px;
    width: max-content;
    position: absolute;
    right: 0;
    top: 5px;

}

.img2{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.product:hover .img2{
    display: block;
}
.discount-label3:hover .redcolor{
    color: red;
}
